/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --pink: #f58054;
  --gray: #7b7a7a;
  --brown: #a15136;
  --black: #1e1e1e;
  --purple: #9575a4;
  --white-peach: #fcecd4;
  --gray-light: 229, 233, 240;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
}

* {
  overflow-wrap: break-word;
}
html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--brown) transparent;
}

@font-face {
  font-family: "RacingSansOne";
  src: url(`${import.meta.env.BASE_URL}fonts/RacingSansOne-Regular.ttf`) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "AlbertSans";
  src: url(`${import.meta.env.BASE_URL}fonts/AlbertSans-VariableFont_wght.ttf`) format("truetype");
  font-display: swap;
}
body {
  font-family: "AlbertSans", sans-serif;
  padding: 0;
  font-size: 20px;
  line-height: 1.7;
  text-align: left;
  color: var(--gray);
  display: flex;
  min-height: 100vh;
  margin-block: 0;
  flex-direction: column;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-size: 100% 600px;
  background: linear-gradient(var(--gray-gradient)) no-repeat;
  margin-inline: clamp(1rem, 0.5714285714285714rem + 2.142857142857143vw, 4rem);
}

#container {
  gap: 2.5rem;
  display: grid;
  grid-auto-rows: 1fr;
  justify-content: center;
  grid-template-columns: 1fr;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: var(--brown);
  font-family: "RacingSansOne", sans-serif;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
p,
a,
strong,
li,
span {
  font-size: 0.75rem;
  font-size: clamp(
    0.75rem,
    0.7142857142857143rem + 0.17857142857142858vw,
    1rem
  );
}
a {
  color: var(--gray);
  text-decoration: none;
  :hover {
    color: var(--brown);
  }
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
b {
  color: var(--purple);
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  border-radius: 2px;
  background-color: rgb(var(--gray-light));
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
