---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
        <img src="/src/assets/NAORYE-noBG.png" alt="NAORYE logo" />
        <p>
          Crafted where empathy meets innovation. Designed to help creators grow
          — through art that’s human, adaptive, but timeless.
        </p>
    </main>
    <Footer />
  </body>
</html>

<style>
  main{
    margin-block: 5em;
    gap: .5em;
    display: flex;
    flex-direction: column;
  }
  img {
    width: 100%;
  }
  p{
    text-align: center;
  }
</style>
