---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div id="container">
        <div class="who-section">
          <h1>WHO</h1>
          <p><b>/ˈnaʊr.jeɪ/ (“Naur-ye” or “Nour-ye”) </b></p>
          <p style="background-color: #fffaf0; font-size: 1.2em; width: fit-content">
            <b>Empathy. Growth. Grace. Technology. Humanity.</b>
          </p>
          <p>
            Crafted where empathy meets innovation. Designed to help
            creators grow with grace — through art that’s human, adaptive, but
            timeless.
          </p>
        </div>

        <div class="faq-section">
          <h1>FAQ</h1>
          <div class="faq-item">
            <strong><div class="dot"></div>What do we sell?</strong>
            <ul>
              <li>Graphic bundles.</li>
              <li>
                We do commissions for custom bundles in Ko-fi <b
                  >(coming soon!)</b
                >
              </li>
            </ul>
          </div>
          <div class="faq-item">
            <strong><div class="dot"></div>What will I get</strong>
            <ul>
              <li>SOLO Bundle: Colorful graphics. OR —</li>
              <li>SOLO Bundle: Monochrome version. OR —</li>
              <li>BIG Bundle version: all of the above are included.</li>
              <li>
                Individual Bundle: Pattern version <b>(coming soon!)</b>
              </li>
              <li>
                Various formats for each graphic: JPEG, PNG, SVG, EPS, PSD, AF,
                and more!
              </li>
            </ul>
          </div>
          <div class="faq-item">
            <strong><div class="dot"></div>Licence details?</strong>
            <ul>
              <li>
                Marketplace: We follow licensing rules in the marketplace.
                Basically, you can use it for personal, commercial, or even
                extended purposes.
              </li>
              <li>Commision: same~</li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  #container {
    grid-auto-rows: min-content;
  }
  .who-section,
  .faq-section {
    text-align: left;
  }

  .who-section h1 {
    margin-top: 2.5em;
  }

  .faq-item {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 20px;
    background-color:#fffaf0;
    border: 2px solid var(--black);
    strong {
      font-size: 1.2em;
    }
    ul {
      padding-inline-start: 1.3em;
    }
  }
  .faq-item strong {
    display: flex;
    color: var(--black);
    align-items: center;
  }

  .dot {
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 50%;
    border: 3px solid var(--brown);
  }
</style>
