---
const today = new Date();
import { Icon } from 'astro-icon/components'; 
---

<footer>
  &copy; {today.getFullYear()} NAORYE. All rights reserved.
  <div class="social-links">
    <a href="https://ko-fi.com/naorye_store">
      <Icon name="cib:ko-fi" />
    </a>
    <a href="https://id.pinterest.com/NAORYE_store/" target="_blank">
      <Icon name="cib:pinterest" />
    </a>
  </div>
</footer>
<style>
  footer {
    font-size: 0.75rem;
    text-align: center;
    color: rgb(var(--gray));
    font-size: clamp(
      0.75rem,
      0.7142857142857143rem + 0.17857142857142858vw,
      1rem
    );
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
  }
  [data-icon] {
    font-size: 32px;
  }
</style>
