---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} NAORYE. All rights reserved.
  <div class="social-links">
    <script
      is:inline type="text/javascript"
      src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"></script><script
      is:inline type="text/javascript"
    >
      kofiwidget2.init("", "#a15136", "U7U61O60CQ");
      kofiwidget2.draw();
    </script>
    <a href="https://id.pinterest.com/NAORYE_store/" target="_blank">
      <span class="sr-only">Pinterest</span>
      <!-- INSERT PINTEREST LOGO -->
    </a>
  </div>
</footer>
<style>
  footer {
    text-align: center;
    color: rgb(var(--gray));
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
