---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <div class="internal-links">
      <HeaderLink href="/who-faq">WHO-FAQ</HeaderLink>
      <HeaderLink href="/"
        ><img src="/NAORYE.svg" alt="Home" class="home-icon" /></HeaderLink
      >
      <HeaderLink href="/our-work">OUR WORK</HeaderLink>
    </div>
  </nav>
</header>
<style>
  .home-icon {
    max-width: 6.25rem;
  }

  nav .internal-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    a {
      color: var(--gray);
      font-weight: 600;
      text-decoration: none;
    }
  }

  @media (width <= 480px) {
    nav .internal-links {
      gap: 1.5rem;
      flex-direction: column;
    }
  }
</style>
