---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <div class="internal-links">
      <HeaderLink href={`${import.meta.env.BASE_URL}/who-faq`}>WHO-FAQ</HeaderLink>
      <HeaderLink href={import.meta.env.BASE_URL}>
        <img src="/naorye/NAORYE.svg" alt="Home" class="home-icon" />
      </HeaderLink>
      <HeaderLink href={`${import.meta.env.BASE_URL}/our-work`}>OUR WORK</HeaderLink>
    </div>
  </nav>
</header>
<style>
  .home-icon {
    display: block;
    max-width: 5rem;
  }
  nav {
    margin-top: 2em;
  }
  nav .internal-links {
    gap: 1.5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

    a {
      font-size: clamp(
        1.4rem,
        1.3142857142857143rem + 0.4285714285714286vw,
        2rem
      );
      font-weight: 600;
      color: var(--gray);
      text-decoration: none;
    }
  }

  @media (width >= 480px) {
    nav .internal-links {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
