---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <div class="internal-links">
      <HeaderLink href={import.meta.env.BASE_URL}>
        <img src="/naorye/NAORYE.svg" alt="Home" class="home-icon" />
      </HeaderLink>
      <div class="navLinks">
        <HeaderLink href={`${import.meta.env.BASE_URL}/who-faq`}
          >( ABOUT )</HeaderLink
        >
        <HeaderLink href={`${import.meta.env.BASE_URL}/our-work`}
          >( OUR WORK )</HeaderLink
        >
      </div>
    </div>
  </nav>
</header>
<style>
  .home-icon {
    display: block;
    max-width: 4rem;
  }
  nav {
    margin-top: 2em;
  }
  nav .internal-links {
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .navLinks {
      gap: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    a {
      color: var(--gray);
      text-decoration: none;
    }
  }

  @media (width >= 480px) {
    nav .internal-links {
      flex-direction: row;
      justify-content: space-between;
      .navLinks {
        gap: 20px;
        display: flex;
        flex-direction: row;
      }
    }
  }
</style>
