---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<div class="internal-links">
			<HeaderLink href="/blog">WHO-FAQ</HeaderLink>
			<HeaderLink href="/"><img src="#" alt="Home"></HeaderLink>
			<HeaderLink href="/about">OUR WORK</HeaderLink>
		</div>
	</nav>
</header>
<style>
	nav .internal-links {
		display:flex;
		flex-wrap: wrap;
		justify-content:space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		text-decoration: none;
		border-bottom: 4px solid transparent;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
