---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <div class="internal-links">
      <HeaderLink href="/who-faq">WHO-FAQ</HeaderLink>
      <HeaderLink href="/"
        ><img src="/NAORYE.svg" alt="Home" class="home-icon" /></HeaderLink
      >
      <HeaderLink href="/our-work">OUR WORK</HeaderLink>
    </div>
  </nav>
</header>
<style>
  .home-icon {
    max-width: 5rem;
  }

  nav .internal-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;

    a {
      font-size: clamp(
        1.4rem,
        1.3142857142857143rem + 0.4285714285714286vw,
        2rem
      );
      font-weight: 600;
      color: var(--gray);
      text-decoration: none;
    }
  }

  @media (width >= 480px) {
    nav .internal-links {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
